[submodule "pack/plugins/start/vim-commentary"]
	path = pack/plugins/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "pack/plugins/start/vim-unimpaired"]
	path = pack/plugins/start/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "pack/plugins/start/nerdtree-git-plugin"]
	path = pack/plugins/start/nerdtree-git-plugin
	url = https://github.com/Xuyuanp/nerdtree-git-plugin
[submodule "pack/plugins/start/vim-colorschemes"]
	path = pack/plugins/start/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "pack/plugins/start/vimwiki"]
	path = pack/plugins/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "pack/plugins/start/vim-taskwarrior"]
	path = pack/plugins/start/vim-taskwarrior
	url = https://github.com/blindFS/vim-taskwarrior
[submodule "pack/plugins/start/airline"]
	path = pack/plugins/start/airline
	url = https://github.com/vim-airline/vim-airline
[submodule "pack/plugins/start/airline-themes"]
	path = pack/plugins/start/airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "pack/plugins/start/vimtex"]
	path = pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "pack/plugins/opt/ale"]
	path = pack/plugins/opt/ale
	url = https://github.com/w0rp/ale
[submodule "pack/plugins/start/voom"]
	path = pack/plugins/start/voom
	url = https://github.com/vim-voom/VOoM
[submodule "pack/plugins/start/ultisnips"]
	path = pack/plugins/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "pack/plugins/opt/YouCompleteMe"]
	path = pack/plugins/opt/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe
[submodule "pack/plugins/start/vim-grammarous"]
	path = pack/plugins/start/vim-grammarous
	url = https://github.com/rhysd/vim-grammarous
[submodule "pack/plugins/start/recover"]
	path = pack/plugins/start/recover
	url = https://github.com/chrisbra/Recover.vim
